<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>Order Information</title>
</head>

<body style="background-color:#E3F2FD ;">
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary ">
        <div class="container-fluid">
          <a class="navbar-brand" href="/user">upevents</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        </div>
    </nav>
    {% if user.is_authenticated %}
    {% for i in order_details %}
    <div class="container shadow m-2 p-3 mx-auto bg-white">
        <div class="row m-2"><h4 class="text-primary">Order Id:{{i.order_id}}</h4></div>
        <div class="row m-2"><p>Name :{{i.name}}</p></div>
        <div class="row m-2">
            <div class="col"><p>Contact :{{i.mbl_no}}</p></div>
            <div class="col"><p>Email Id:{{i.email}}</p></div>
        </div>
        <div class="row m-2">
            <div class="col"><p>{{i.date}}</p></div>
            <div class="col"><p>{{i.time}}</p></div>
        </div>
        <div class="row m-4 text-center">
            <div class="col mt-2 text-primary"><h4>Your Order Item Details</h4></div>
        </div>
        <div class="container " style="width: 80%;">
            {% for j in order_item_list %}
            {% for l in j %}
            <div class="row m-2 shadow">
                <div class="col  p-2">
                    {{l.category}}&nbsp;&nbsp;-&nbsp;&nbsp;{{l.package_title}}
                </div>
                <div class="col  p-2">
                    {{l.package_price}}
                </div>
            </div>
            {% endfor %}
            {% endfor %}
        </div>
        <div class="row m-2 mt-4">
            <div class="col"><h5>Venue:{{i.venue}}</h5></div>
        </div>
        <div class="row m-2 ">
            <div class="col"><p>Address:{{i.venue_address}}</p></div>
            <div class="col"><p>Pin Code:{{i.venue_pin}}</p></div>
        </div>
        <div class="row m-2">
            <div class="col"><p>Guests Attending :{{i.est_people}} </p></div>
            <div class="col"><p>Estimated Cost :₹{{i.est_cost}} </p> </div>
        </div>
        <div class="row m-2">
            <h5 class="text-primary">Invitation Photo</h5>
            <embed src="{{i.invite_image}}" style="width:50vw ;"/>
        </div>
        <div class="row justify-content-left">
            <a href="/organiser" class="m-3"> <button class="btn btn-outline-primary mx-2" type="button">Back </button></a>
        </div>
    </div>
    {% endfor %}

    {% else %}
<h3 class="text-center my-4">Please Log in</h3>
<div class="container my-4 text-center">
<a href="/login" class="btn btn-outline-primary mx-2 " type="button">Login</a>
</div>
{%endif%}


    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    -->
</body>

</html>