{% extends 'upevents/bootstrap.html' %}
{%block title%} View Packages{%endblock title %} 
{% block body %}
<nav class="navbar navbar-expand-lg navbar-dark bg-primary ">
    <div class="container-fluid">
      <a class="navbar-brand" href="/organiser">upevents</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
</nav>
<h1 class="m-4 text-primary">View Packages</h3>

<div class="container">
{% for pack in allpack %}
<input type="hidden" name="item_category" value="{{pack.0.category}}">
<h3 class="mt-3 text-primary">{{pack.0.category}}</h1>
<div class="row shadow bg-white p-3">
    {% for i in pack %}
    <div class="col-md-4 col-lg-4 col-sm-4 ">
            
            <div class="card card-default card-input border-0 shadow m-2">
                <div class="card-header">
                    <img src="/media/{{i.package_image}}" class="card-img-top" alt="..." height="200px" width="200px">
                   <h4> {{i.package_title}}</h4>
                </div>
                <div class="card-body p-2">
                    {{i.package_desc}}<br>
                    <h5>Starting From ₹{{i.package_price}}</h5>

                </div>
            </div>
    </div>
    {% endfor %}
</div>
{% endfor %} 
</div>
{% endblock body %}