<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <title>Add Profile Info </title>
</head>

<body style="background-color:#E3F2FD ;">
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
      <a class="navbar-brand" href="/user">upevents</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
</nav>

<!-- notification or message plkace -->
{% for message in messages %}
<div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
  <strong>Message : </strong> {{ message }}
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  <span aria-hidden="true">&times;</span>
  </button>
</div>
{% endfor %}
 
  {% if user.is_authenticated %}
  {% load static %}
  <h1 class="mt-4 mx-4 text-primary ">Add More Information</h1>
  <form method="post" action="/user/confirmaddprofile/" enctype="multipart/form-data" id="myform" >
    {% csrf_token %}
    <div class="container m-4 mx-auto shadow p-3 bg-white">
      <div class="row justify-content-around my-4">
        <div class="col-3  p-3">
          <img src="{% static '/user/images/birthday.jpg' %}" alt="profile Photo"
            style="border-radius: 100px; border:2px solid blue ;background-color:black; " height="200px" width="200px"
            class="img-responsive">
          <div class="mt-4">
            <label for="profilepic"> Select Profile Photo</label>
            <input type="file" name="profilepic" id="profilepic">
          </div>
        </div>
        <!-- right side grid column -->
        <div class="col-6 ">
          <div class="mb-3 form-group">
            <label for="signupusername1" class="form-label">User Name</label>
            <input type="text" class="form-control" id="signupusername1" placeholder="Enter username " required
              value="{{request.user}}" disabled>
          </div>

          <div class="mb-3 form-group">
            <label for="signupfname1" class="form-label">First Name</label>
            <input type="text" class="form-control" id="signupfname1" placeholder="Enter First name "
              value="{{request.user.first_name}}" disabled>
          </div>

          <div class="mb-3 form-group">
            <label for="signuplname1" class="form-label">Last Name</label>
            <input type="text" class="form-control" placeholder="Enter Last name " id="signuplname1"
              value="{{request.user.last_name}}" disabled>
          </div>

          <div class="mb-3 form-group">
            <label for="addprofileemail" class="form-label">Email address</label>
            <input type="email" class="form-control" id="addprofileemail" name="addprofileemail"
              aria-describedby="emailHelp" value="{{request.user.email}}" disabled>
            <div id="emailHelp" class="form-text">We'll never share your email with anyone else.
            </div>
          </div>

          <div class="mb-3 form-group">
            <label for="addprofilemblno" class="form-label">Mobile Number</label>
            <input type="number" class="form-control" id="addprofilemblno" name="addprofilemblno" placeholder="Mobile "
              required>
            <div id="phone_error" class="error hidden" Please enter a valid phone number></div>
          </div>
          <div class="mb-3 form-group">
            <label class="form-label">Select the gender</label>
            <div class="form-check">

              <input class="form-check-input" type="radio" name="addprofilegenderradio" id="addprofilegenderradio1"
                value="Male" checked>
              <label class="form-check-label" for="addprofilegenderradio1">
                Male
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="addprofilegenderradio" id="addprofilegenderradio2"
                value="Female">
              <label class="form-check-label" for="addprofilegenderradio2">
                Female
              </label>
            </div>
          </div>

          <div class="mb-3 form-group">
            <label for="addprofiledob" class="form-label">Date Of Birth</label>
            <input type="Date" class="form-control" id="addprofiledob" name="addprofiledob" placeholder="Mobile "  class="disableFuturedate"
              required>
          </div>
        </div>
      </div>
   
    <div class="row m-3">
      <div class="col-8 text-right mx-2 mt-4">
        <a href="/user/userprofile" class="btn btn-outline-primary mx-2" type="button">Cancel</a>
      </div>
      <div class="col-3 mx-2 mt-4">
        <button type="submit" class="btn btn-primary" id="submit">Submit</button>
      </div>
    </div>
  </div>
  </form>
  {% else %}
<h3 class="text-center my-4">Please Log in</h3>
<div class="container my-4 text-center">
<a href="/login" class="btn btn-outline-primary mx-2 " type="button">Login</a>
</div>
{%endif%}

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
    <script>
      const datepicker1=document.querySelector('#addprofiledob');
        datepicker1.addEventListener('click',(e)=>{
            var datetoday= new Date();
            
            if (datetoday.getMonth()<10 &&datetoday.getDate()<10 ){
              var year=(datetoday.getFullYear()-18)+'-0'+(datetoday.getMonth()+1)+'-0'+(datetoday.getDate());
            }
            else if (datetoday.getMonth()<10){
              var year=(datetoday.getFullYear()-18)+'-0'+(datetoday.getMonth()+1)+'-'+(datetoday.getDate());
            }
            else if (datetoday.getDate()<10){
              var year=(datetoday.getFullYear()-18)+'-'+(datetoday.getMonth()+1)+'-0'+(datetoday.getDate());
            }
            else{
              var year=(datetoday.getFullYear()-18)+'-'+(datetoday.getMonth()+1)+'-'+(datetoday.getDate());

            }
            console.log(year)
            datepicker1.setAttribute('max',year)
            
        })
    </script>
</body>

</html>