{% extends 'user/basic.html' %}
{% block title %}
My Profile
{% endblock title %}

{% load static %}
{% block body %}
{% if user.is_authenticated %}
<!-- to show user details  -->
<div class="row mx-4 my-3 justify-content-between">
<div class="col-4">
<h2 class="">My Profile</h2>
</div>
<div class="col-4 ">
<a href="/logout" class="btn btn-outline-primary mx-2" type="button">Logout</a>
</div>
</div>
<div class="card container mt-2 border-0">
  <div class="row m-2 p-2 ">
    <div class="col-4">
      <div class="image">
        {% if user_image %}
        {% for userinfo in user_image %}
        {% if userinfo.user_image %}
        <img src="{{userinfo.user_image}}" style="border-radius: 100px; border:2px solid blue ;background-color:black; "
          height="200px" width="200px" class="img-responsive">
          {% else %}
          <!-- shown when there is user infomation but no image updated -->
          <img src="{% static '/user/images/birthday.jpg' %}"
          style="border-radius: 100px; border:2px solid blue ;background-color:black; " height="200px" width="200px"
          class="img-responsive">
          {% endif %}
          {% endfor %}
          {% else %}
          <!-- shown when there is user did not add more information  -->
          <img src="{% static '/user/images/birthday.jpg' %}"
          style="border-radius: 100px; border:2px solid blue ;background-color:black; " height="200px" width="200px"
          class="img-responsive">
        {% endif %}
      </div>
    </div>

    <div class="col container pt-4">
      <table>
        <tr>
          <td>Username</td>
          <td>{{user.username}}</td>
        </tr>

        <tr>
          <td>Name</td>
          <td>{{user.get_full_name}}</td>
        </tr>
        <tr>
          <td>Email</td>
          <td>{{user.email}}</td>
        </tr>
        <tr class="mt-4" style="text-align: right;">
          <td colspan="2">
            <a href="/user/addprofile" class="btn btn-outline-primary mx-2" type="button">Add More Info</a>
            <a href="/user/editprofile" class="btn btn-outline-primary mx-2" type="button">Edit Profile</a>
          </td>
        </tr>
      </table>
    </div>
  </div>

</div>

<!-- to display the user booked event  -->
<h2 class="m-3">Events</h2>

{% else %}
<h3 class="text-center my-4">Please Log in</h3>
<div class="container my-4 text-center">
<a href="/login" class="btn btn-outline-primary mx-2 " type="button">Login</a>
</div>
{%endif%}
{% endblock body %}